.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.card {
  position: relative;
  text-align: center;
  border-radius: 10px;
  background-color: var(--grayMedium2);
  width: 100%;
  padding: 2rem;
  padding-top: 5rem;
  margin-top: 7rem;
}
.card:nth-child(1) {
  margin-top: 5rem;
}

.image {
  position: absolute;
  bottom: 60%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.title {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--black);
  margin-bottom: 1.5rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: var(--grayDark);
  background-color: unset;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 2px;
}
.button img {
  margin-left: 8px;
}
.button:hover,
.button:focus-visible {
  color: var(--blackLight);
}
