.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: initial;
}
@media (min-width: 650px) {
  .categories {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: end;
    gap: 1rem;
    max-width: 1180px;
    margin: 0 auto;
  }
}

.card {
  position: relative;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  margin-top: 7rem;
  outline: none;
  background-color: var(--grayLight);
}
.card:focus-visible .content {
  outline: auto;
  outline: -webkit-focus-ring-color auto 1px;
}
.card:focus-visible .button,
.card:hover .button {
  color: var(--brownMedium);
  /* color: var(--brownLight); */
}
.card:nth-child(1) {
  margin-top: 5rem;
}
.content {
  padding: 2rem;
  padding-top: 5rem;
}
/* @media (min-width: 650px) {
  .card:nth-child(2) {
    margin: 0 1rem;
  }
} */

.image {
  position: absolute;
  bottom: 60%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.title {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--black);
  margin-bottom: 1.5rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: unset;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 2px;
}
.button img {
  margin-left: 8px;
}
