.hero {
  background-color: var(--blackMedium);
  color: var(--grayLight);
  text-align: center;
  background-image: url(/assets/home/mobile/image-header.jpg);
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 25rem;
  /* background-size: contain; */
  background-size: 300px;
  background-position-y: 108%;
}
.content {
  max-width: 24rem;
  margin: 0 auto;
}
.wrapper {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 650px) {
  .hero {
    background-image: url(/assets/home/tablet/image-header.jpg);
    background-size: 477px;
  }
}

.overline {
  letter-spacing: 5px;
  color: var(--grayDark);
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 1.1rem;
}

.title {
  text-transform: uppercase;
  color: var(--grayLight);
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.subtitle {
  /* color: var(--grayMedium); */
  color: rgba(255, 255, 255, 0.631);
  margin-bottom: 2rem;
}
@media (min-width: 950px) {
  .hero {
    background-image: url(/assets/home/desktop/image-hero.jpg);
    background-position: 68%;
    height: 30rem;
    background-position-y: 90%;
    background-size: 1147px;
  }
  .content {
    width: 25rem;
    margin-right: auto;
    text-align: left;
    /* max-width: 1180px; */
    /* margin: 0 auto; */
    /* margin-left: 7rem; */
    margin-left: 3rem;
  }
  .title {
    font-size: 2.4rem;
  }
}
