.button {
  color: var(--white);
  background-color: var(--brownMedium);
  padding: 1rem 1.5rem;
  /* transition: background-color 250ms ease; */
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  outline-offset: 4px;
}
.button:hover,
.button:focus-visible {
  background-color: var(--brownMediumLight);
}

/* black btn */
.secondaryBlack {
  background-color: var(--black);
  color: var(--white);
}
.secondaryBlack:hover,
.secondaryBlack:focus-visible {
  background-color: var(--blackLight);
}

/* gray btn */
.secondaryGray {
  background-color: var(--grayMedium2);
  color: var(--black);
  border: 2px solid var(--black);
}
.secondaryGray:hover,
.secondaryGray:focus-visible {
  /* background-color: var(--grayMedium2); */
  /* color: var(--grayDark); */
  background-color: var(--black);
  color: var(--grayMedium2);
}
