@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');
@import './variables.css';

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, */
  /* Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Manrope', sans-serif;
  /* background-color: var(--grayLight); */
  background-color: var(--blackMedium);
  line-height: 1.7;
  font-weight: 500;
}

body {
  /* margin-top: 5.8rem; */
  /* min-height: calc(100vh - 5.8rem); */
  /* TODO: Refactor CSS? */
}

main {
  /* margin-top: 5rem; */
  margin-top: 5.8rem;
  /* TODO: Refactor CSS? */
  /* background-color: var(--grayLight); */
  background-color: var(--grayWhite);
}

#__next {
  min-height: 100vh;
  /* min-height: calc(100vh - 5.8rem); */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

a,
button {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  border: none;
  background-color: unset;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

img {
  object-fit: cover;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
